.logo {
  font-family: $Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
  &--black {
    color: #000000;
  }
}

.footer__logo--white {
  color: var(--accent-color-white);
}
